.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}


.header-container{
  display:flex;
  gap:0.5vw;
  margin-left:17.5vw; 
  
}

.header-center-content{
  display:flex;
  width:36.75vw;

  align-items: center;
  justify-content: center;
}


.buttons-container{
  display:flex;
  width:500px;
  height:3.15rem;
  /*background-color: black;*/
  gap:1rem;
}

.button-white{
  display:flex;
  position: relative;

  align-items:center;
  justify-content: center;

  background-color: white;
  width:30%;
  height:3.15rem;
  font-size: 1.15rem;
  font-weight:500;

  border-radius: 8.5px;
}

.button-outline-changes{
  font-size: 1.15rem;
  font-weight:500;
}

.button-white:hover{
  transition-duration:250ms;
  background-color: lightgray;

}



.remove-box{
  margin-bottom: 0px;
  border-bottom: 0px;
  padding-bottom: 0px;
}


.title-text{
  font-size: 2.8rem;
  color:black;
}


.text-to-left{
  text-align: left;
}


.testimonial-image{
  margin-top: 50px;
  margin-bottom: 15px;
  border-radius: 50%;
  height: 100px;
}


.testimonial-brands{
  display:flex;
  gap:10vw;

  align-items: center;
  justify-content: center;
   
  margin-top:60px;
  height: 30px;
}

.testimonial-brands > img
{
  height:30px;
}















